<!--
  Generated template for the CreateOfficePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Crear oficina</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item class="opt">
            <ion-label>Seleccione Edificio</ion-label>
            <ion-select [(ngModel)]="office.buildingId" interface="popover" (ngModelChange)="updateFloors()">
                <ion-option value="{{item.id}}" *ngFor="let item of buildings">{{item.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="opt">
            <ion-label>Seleccione Piso</ion-label>
            <ion-select interface="popover" [(ngModel)]="office.floorId">
                <ion-option value="{{item.id}}" *ngFor="let item of floors">{{item.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating color="primary">Oficina No.</ion-label>
            <ion-input type="text" [(ngModel)]="office.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating color="primary">Nombre de la empresa</ion-label>
            <ion-input type="text" [(ngModel)]="office.company"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating color="primary">Nit</ion-label>
            <ion-input type="text" [(ngModel)]="office.area"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating color="primary">Persona de contacto</ion-label>
            <ion-input type="text" [(ngModel)]="office.garages"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating color="primary">Teléfono</ion-label>
            <ion-input type="text" [(ngModel)]="office.coPay"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating color="primary">Correo electrónico</ion-label>
            <ion-input type="text" [(ngModel)]="office.client_email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating color="primary">Dirección</ion-label>
            <ion-input type="text" [(ngModel)]="office.direction"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <!-- <ion-list-header>
            Information del dueño
        </ion-list-header> -->

        <h4>Information del dueño</h4>
        <ion-item>
            <ion-label fixed>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.employee.first_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.employee.last_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Telefono</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.employee.phone_number" [textMask]="{mask: phoneMask, guide: true}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Email</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.employee.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Contraseña</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.employee.password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Tipo de sangre</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.employee.blood_type"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <!-- <ion-list-header>
            Información del rentatario
        </ion-list-header> -->

        <h4>Información del rentatario</h4>
        <ion-item>
            <ion-label fixed>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.outsourcing.first_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.outsourcing.last_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Telefono</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.outsourcing.phone_number" [textMask]="{mask: phoneMask, guide: true}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Email</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.outsourcing.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Contraseña</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.outsourcing.password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Tipo de sangre</ion-label>
            <ion-input type="text" [(ngModel)]="office.employees.outsourcing.blood_type"></ion-input>
        </ion-item>
    </ion-list>

    <button ion-button class="main-btn" (click)="createOffice()" [disabled]="!isConnected">Guardar</button>
</ion-content>
