<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>554352493400-2ddgeisepirh076bv9m1kl82nt78kj6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554352493400-2ddgeisepirh076bv9m1kl82nt78kj6n</string>
	<key>API_KEY</key>
	<string>AIzaSyCqSnqUza03NRAqQDID6QqlD8ckJ1rEM5s</string>
	<key>GCM_SENDER_ID</key>
	<string>554352493400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>news.ctn.wtcb-dev</string>
	<key>PROJECT_ID</key>
	<string>wtcb-9eee6</string>
	<key>STORAGE_BUCKET</key>
	<string>wtcb-9eee6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554352493400:ios:b28fb3fd9e5b985b</string>
	<key>DATABASE_URL</key>
	<string>https://wtcb-9eee6.firebaseio.com</string>
</dict>
</plist>