page-maintenance-view {

	ion-item-sliding:nth-child(even){
		.row-content{
			height: 20vw;
			font-size: 3.5vw;
			padding-left: 0;
			white-space: normal;
			background: #f7f7f7;
			
			ion-label{
				display:inherit;
				margin: 0px;
			}

			div{
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				white-space: normal;
			}
		}
	}

	ion-item-sliding:nth-child(odd){
		.row-content{
			height: 20vw;
			font-size: 3.5vw;
			padding-left: 0;
			white-space: normal;
			background: #f7f7f7;
			
			ion-label{
				display:inherit;
				margin: 0px;
			}

			div{
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				white-space: normal;
			}
		}
	}

	.row-content-bold{
		font-weight: bold;
	}

	.width-10 {
		padding-left: 2vw;
		max-width: 20%;

		img{
			width: 12vw;
		}
	}

	.width-20 {
		max-width: 30%;
		display: block !important;
		font-size: 7vw;
		color: #1b4c5c;

		.created-date{
			color:gray;
			font-size: 4vw;
		}
	}

	.width-15 {
		max-width: 23%;
	}

	.width-30 {
		max-width: 50%;
		display: block !important;
	}

	.header-style{
		color:#1b4c5c;
		font-size: 18px;
	}

	.office-name{
		color:#1b4c5c;
		font-size: 5vw;
		margin-top: 2vw;
	}

	.building-name{
		color:gray;
		font-size:4vw;
	}

	.badge{
        width: 10px;
        height: 10px;
        background-color: #e69846;
        border-radius: 5px;
        position:absolute;
        top:1px;
        right:2px;
    }
}
