<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <img class="menu-icon" src="assets/imgs/menu_icon.png" />
        </button>
        <ion-title>Profile</ion-title>

        <ion-buttons end *ngIf="create_or_update == 1 && edit_or_save == 0">
          <button ion-button style="color:white;" (click)="onEdit();">
            Editar
          </button>
          <!-- <div class="badge" *ngIf="count>0"></div> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>Seleccione Edificio</ion-label>
            <ion-select [(ngModel)]="office.buildingId" interface="popover" (ngModelChange)="updateFloors()">
                <ion-option value="{{item.id}}" *ngFor="let item of buildings">{{item.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Seleccione Piso</ion-label>
            <ion-select interface="popover" [(ngModel)]="office.floorId">
                <ion-option value="{{item.id}}" *ngFor="let item of floors">{{item.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label fixed>Oficina No.</ion-label>
            <ion-input type="text" [(ngModel)]="office.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Compañia</ion-label>
            <ion-input type="text" [(ngModel)]="office.company"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Area Mts</ion-label>
            <ion-input type="text" [(ngModel)]="office.area"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Garages</ion-label>
            <ion-input type="text" [(ngModel)]="office.garages"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Co-Pago</ion-label>
            <ion-input type="text" [(ngModel)]="office.coPay"></ion-input>
        </ion-item>
    </ion-list>

    <button *ngIf="create_or_update == 0 || edit_or_save == 1" ion-button class="main-btn" (click)="createOffice()">Guardar</button>
</ion-content>
