<!--
  Generated template for the OtrsRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>NUEVA SOLICITUD</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-list-header class="header-style">
            <!-- DESCRIBA SU SOLICITUD -->
            REQUERIMIENTO
        </ion-list-header>

        <ion-item>
            
            <textarea placeholder="DESCRIPCIÓN" class="textarea-style" [(ngModel)]="otrsRequest.comment"></textarea>
            
        </ion-item>

        <ion-item>
            <ion-toggle color="custom" [(ngModel)]="otrsRequest.is_urgent"></ion-toggle>
            <ion-label style="color: gray;">
                URGENTE (SUJETO T&C)
            </ion-label>
        </ion-item>
    </ion-list>

    <input type="file" name="file" id="file" class="inputfile" (change)="fileEvent($event)"/>
    <label for="file" ion-button block class="main-btn">Cargar Foto</label>
    <!-- <button ion-button icon-left block (click)="addPhoto()">
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        CARGAR FOTO 
    </button> -->

    <ion-row *ngIf="otrsRequest.photos.length > 0">
        <ion-col col-3 *ngFor="let item of otrsRequest.photos; let i = index;">
            <img src="{{item}}"/>
        </ion-col>
    </ion-row>

    <ion-list style="margin-top: 30px;">
        <!-- <ion-list-header>
            INFORMACIÓN CLIENTE
        </ion-list-header> -->
        
        <ion-avatar class="client-avatar">
            <img src="assets/imgs/ticket.jpeg">
        </ion-avatar>
        
        <h2 class="header-style" style="text-align: center;">{{office.company}}</h2>
        <p style="text-align:center; font-size: 15px; color:gray;">{{office.name}}</p>
        <h2 class="header-style" style="text-align: center; opacity: 0.7; margin-top: 8vw;">{{building_name}} - {{floor_name}}</h2>
        
        <!-- <ion-item>
            <ion-label fixed>Office #</ion-label>
            <ion-note item-end>{{office._id}}</ion-note>
        </ion-item> -->
    </ion-list>

    <button class="main-btn" ion-button block (click)="createNewRequest()">ENVIAR NUEVA SOLICITUD</button>
</ion-content>
