<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img class="menu-icon" src="assets/imgs/menu_icon.png" />
    </button>
    <ion-title>Inicio</ion-title>
    <ion-buttons end>
      <button ion-button icon-only style="color:white;" (click)="gotoNotification();">
        <ion-icon name="md-notifications"></ion-icon>
      </button>
      <div class="badge" *ngIf="count>0"></div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-bg" no-bounce>
  <div class="container-div" style="margin-top: 50px;">
    <div class="item-div" (click)="gotoMaintenance();">
      <div class="item-label">
        Mantenimiento
      </div>
      <ion-icon name="md-paper" class="item-icon"></ion-icon>
    </div>

    <div class="item-div" (click)="gotoTores();">
      <div class="item-label">
        Torres
      </div>
      <ion-icon name="md-easel" class="item-icon"></ion-icon>
    </div>
  </div>

  <div class="container-div">
    <div class="item-div" (click)="gotoNotification();">
      <div class="item-label">
        Notificaciones
      </div>
      <ion-icon name="md-notifications" class="item-icon"></ion-icon>
    </div>

    <div class="item-div" (click)="gotoIndicadores();">
      <div class="item-label">
        Indicadores de Gestión
      </div>
      <ion-icon name="md-analytics" class="item-icon"></ion-icon>
    </div>
  </div>

  <div class="container-div">
    <div class="item-div" (click)="gotoTechnician();">
      <div class="item-label">
        Técnico
      </div>
      <ion-icon name="md-calculator" class="item-icon"></ion-icon>
    </div>

    <div class="item-div" (click)="logout();">
      <div class="item-label">
        Cerrar Sesión
      </div>
      <ion-icon name="md-log-out" class="item-icon"></ion-icon>
    </div>
  </div>
</ion-content>
<!-- <ion-content>
    <ion-grid ion-fixed style="height: 100vh">
        <ion-row class="notice-header">
            <ion-col style="background-color:black;color:white;">
                <ion-slides pager="true" class="superfill">
                    <ion-slide class="dashboard">
                        
                    </ion-slide>
                    
                </ion-slides>
            </ion-col>
        </ion-row>

        <ion-row class="wtc-container">
            <ion-col col-8 style="background-color:orange;color:white;">
                <ion-slides pager="true" class="superfill">
                    <ion-slide class="torreA">

                        <h1 class="light-font-header">TORRE A</h1>
                        <ion-list>
                            <ion-item *ngFor="let item of buildings[0].floors" (click)="viewFloorOfffice(1, item.id)">
                                {{item.name}}
                            </ion-item>
                        </ion-list>

                        <ion-row class="building-info" *ngIf="authUser.level == 7 || authUser.level == 8">
                            <ion-col>
                                Rented Offices
                                <p>
                                    {{rentedOffices(1)}}
                                </p>
                            </ion-col>
                            <ion-col>
                                Occupancy
                                <p>{{occupancyOffices(1).toFixed(2)}}%</p>
                            </ion-col>
                            <ion-col>
                                Vacant Offices
                                <p>{{vacantOffices(1)}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-slide>
                    <ion-slide class="torreB">
                        <h1 class="light-font-header">TORRE B</h1>

                        <ion-list>
                            <ion-item *ngFor="let item of buildings[1].floors" (click)="viewFloorOfffice(2, item.id)">
                                {{item.name}}
                            </ion-item>
                        </ion-list>

                        <ion-row class="building-info" *ngIf="authUser.level == 7 || authUser.level == 8">
                            <ion-col>
                                Rented Offices
                                <p>
                                    {{rentedOffices(2)}}
                                </p>
                            </ion-col>
                            <ion-col>
                                Occupancy
                                <p>{{occupancyOffices(2).toFixed(2)}}%</p>
                            </ion-col>
                            <ion-col>
                                Vacant Offices
                                <p>{{vacantOffices(2)}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-slide>
                    <ion-slide class="torreC">
                        <h1 class="light-font-header">TORRE C</h1>

                        <ion-list>
                            <ion-item *ngFor="let item of buildings[2].floors" (click)="viewFloorOfffice(3, item.id)">
                                {{item.name}}
                            </ion-item>
                        </ion-list>

                        <ion-row class="building-info" *ngIf="authUser.level == 7 || authUser.level == 8">
                            <ion-col>
                                Rented Offices
                                <p>
                                    {{rentedOffices(3)}}
                                </p>
                            </ion-col>
                            <ion-col>
                                Occupancy
                                <p>{{occupancyOffices(3).toFixed(2)}}%</p>
                            </ion-col>
                            <ion-col>
                                Vacant Offices
                                <p>{{vacantOffices(3)}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-slide>
                </ion-slides>
            </ion-col>
            <ion-scroll scrollY="true" col-4 style="background-color:rgba(239, 239, 239, 0);color:white;border:0;" class="menu-scroll">
                <ion-list >
                    
                    <ion-item-sliding menuToggle>
                        <ion-item>
                            <ion-icon name="ios-menu-outline"></ion-icon>
                        </ion-item>
                        
                    </ion-item-sliding>

                    
                    <ion-item-sliding>
                        <ion-item (click)="viewBuildingList()">
                            TORRES
                        </ion-item>
                        
                    </ion-item-sliding>


                    
                    <ion-item-sliding>
                        <ion-item (click)="gotoMaintenance()">
                            MANTENIMIENTO
                        </ion-item>
                        
                    </ion-item-sliding>

                    
                    <ion-item-sliding>
                        <ion-item (click)="gotoNotification()">
                            CENTRO DE <br/>NOTIFICACIONES
                        </ion-item>
                        
                    </ion-item-sliding>

                    
                    <ion-item-sliding>
                        <ion-item>
                            CORREOS
                        </ion-item>
                        
                    </ion-item-sliding>

                </ion-list>
            </ion-scroll>

        </ion-row>


    </ion-grid>
</ion-content>
 -->