page-notification {
	.notification-content{
		color: #1b4c5c;
		font-size: 20px;
		padding: 10px;
		margin: 0px;
	}

	.notification-content-bold{
		color: #1b4c5c;
		font-size: 20px;
		padding: 10px;
		font-weight: bold;
		margin: 0px;
	}
}
