<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img class="menu-icon" src="assets/imgs/menu_icon.png" />
    </button>
    <ion-title>NOTIFICACIONES</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list no-lines>
	  	<ion-item-sliding style="border-bottom: 1px solid gray;" *ngFor="let notification of notifications" #slidingItem>
	        <ion-item (click)="gotoMaintenanceView(notification);" class="notification-content" [ngClass]="{'notification-content-bold' : notification.read == false}">
	          	{{notification.notification}}
	        </ion-item>

	        <ion-item-options side="right">
	        	<button *ngIf="authUser.level == '3.1' || authUser.level == '3.2'" ion-button (click)="accept(notification, slidingItem)">
              <ion-icon name="md-done-all"></ion-icon>
              Accept
            </button>
	        	<button ion-button color="danger" (click)="delete(notification._id)">
		            <ion-icon name="ios-trash"></ion-icon>
		            Delete
		        </button>
	        </ion-item-options>
	    </ion-item-sliding>
    </ion-list>
</ion-content>
