<!--
  Generated template for the MaintenanceTrackerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Estado de su Solicitud</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-list-header class="header-style">
            FASE
        </ion-list-header>
    </ion-list>

    <div class="wrapper">
        <ul class="StepProgress">
            <li class="StepProgress-item" [ngClass]="{'is-done': request.step > 1, 'current': request.step == 1}">

                <strong class="subheader-style" (click)="onShow1()">FASE 1 - Solicitud</strong>

                <div *ngIf="show1">
                    <ion-list no-lines *ngIf="(authUser.level == '3.1' || authUser.level == '3.2') && request.step == 1">
                        <!-- <ion-item>
                            <ion-icon class="icon-style" style="padding-left:0;" name="md-calendar"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY'}}</ion-note>
                            -
                            <ion-icon class="icon-style" name="ios-clock-outline"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'h:mm a'}}</ion-note>
                        </ion-item> -->
                        
                        <ion-item>
                            <ion-toggle color="custom" checked="true" disabled="true"></ion-toggle>
                            <ion-label class="icon-style">
                                Su cotización ha sido enviada
                            </ion-label>
                        </ion-item>
                    </ion-list>

                    <ion-list no-lines *ngIf="(authUser.level == 7 || authUser.level == 8) && request.step >= 1">
                        <!-- <ion-item>
                            <ion-icon class="icon-style" style="padding-left:0;" name="md-calendar"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY'}}</ion-note>
                            -
                            <ion-icon class="icon-style" name="ios-clock-outline"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'h:mm a'}}</ion-note>
                        </ion-item> -->
                        <ion-item>
                            <ion-toggle color="custom" [(ngModel)]="showQuote"></ion-toggle>
                            <ion-label>
                                Cargar Cotización
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="showQuote">
                            <div>
                                <textarea placeholder="Sus comentarios" class="textarea-style" [(ngModel)]="quote.comment"></textarea>
                            </div>

                        </ion-item>

                        <h2 class="header-style" style="text-align: center;">Visita Técnica</h2>

                        <ion-item *ngIf="showQuote">
                            <ion-label>Fecha</ion-label>
                            <ion-datetime placeholder="Seleccione una fecha." displayFormat="MMM DD YYYY" [(ngModel)]="quote.date"></ion-datetime>
                        </ion-item>
                        <ion-item *ngIf="showQuote">
                            <ion-label>Hora</ion-label>
                            <ion-datetime placeholder="Seleccione una hora." displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="quote.time"></ion-datetime>
                        </ion-item>
                    </ion-list>

                    <button ion-button block (click)="goToStep2()" class="main-btn" style="margin-top:2vw;" *ngIf="(authUser.level == 7 || authUser.level == 8) && request.step >= 1">
                        Enviar Cotización
                    </button>
                </div>
            </li>
            <li class="StepProgress-item" [ngClass]="{'is-done': request.step > 2, 'current': request.step == 2}">
                <strong class="subheader-style" (click)="onShow2()">FASE 2 - Cotización</strong>
                
                <div *ngIf="show2">
                    <ion-list no-lines *ngIf="(authUser.level == '3.1' || authUser.level == '3.2') && request.step == 2">
                        <!-- <ion-item>
                            <ion-icon class="icon-style" style="padding-left:0;" name="md-calendar"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY'}}</ion-note>
                            -
                            <ion-icon class="icon-style" name="ios-clock-outline"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'h:mm a'}}</ion-note>
                        </ion-item> -->
                        
                        <ion-item>
                            <div>
                                <textarea placeholder="Your comments" class="textarea-style" [readonly]="true" [(ngModel)]="requestDetail.quote.comment"></textarea>
                            </div>

                        </ion-item>

                        <h2 class="header-style" style="text-align: center;">Técnico</h2>

                        <ion-item>
                            <ion-label>Fecha</ion-label>
                            <ion-input type="text" [readonly]="true" [(ngModel)]="requestDetail.quote.date"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Hora</ion-label>
                            <ion-input type="text" [readonly]="true" [(ngModel)]="requestDetail.quote.time"></ion-input>
                        </ion-item>

                        <p class="icon-style" style="word-wrap: break-word;">Usted va a recibir un correo electrónico con su cotización.  Por favor revise su correo.</p>
                        
                        <p class="icon-style" *ngIf = "quoteAccept" style="word-wrap: break-word;">Cotización Aceptada.</p>
                        <!-- <ion-item>
                            <ion-toggle [(ngModel)]="quoteAccept"></ion-toggle>
                            <ion-label>
                                Accept Quote
                            </ion-label>
                        </ion-item> -->
                    </ion-list>

                    <button ion-button block (click)="acceptQuote()" class="main-btn" style="margin-top:2vw;" *ngIf="request.step == 2 && (authUser.level == '3.1' || authUser.level == '3.2') && (!quoteAccept || !quoteDeny)">
                        Aceptar Cotización
                    </button>
                    <button ion-button block (click)="denyQuote()" class="main-btn" style="margin-top:2vw;" *ngIf="request.step == 2 && (authUser.level == '3.1' || authUser.level == '3.2') && (!quoteAccept || !quoteDeny)">
                        Rechazar Cotización
                    </button>
                
                    <ion-list no-lines *ngIf="(authUser.level == 7 || authUser.level == 8) && request.step >= 2">
                        <!-- <ion-item>
                            <ion-icon class="icon-style" style="padding-left:0;" name="md-calendar"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY'}}</ion-note>
                            -
                            <ion-icon class="icon-style" name="ios-clock-outline"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'h:mm a'}}</ion-note>
                        </ion-item> -->
                        <ion-item *ngIf="!quoteAccept && !quoteDeny">
                            <ion-toggle color="custom" [(ngModel)]="quoteAccept" disabled="true"></ion-toggle>
                            <ion-label>
                                Cotización Aceptada
                            </ion-label>
                        </ion-item>

                        <ion-item *ngIf="quoteAccept">
                            <ion-toggle color="custom" [(ngModel)]="quoteAccept" disabled="true"></ion-toggle>
                            <ion-label>
                                Cotización Aceptada
                            </ion-label>
                        </ion-item>

                        <ion-item *ngIf="quoteDeny">
                            <ion-toggle color="custom" [(ngModel)]="quoteDeny" disabled="true"></ion-toggle>
                            <ion-label>
                                Cotización Rechazada
                            </ion-label>
                        </ion-item>

                        <ion-item *ngIf="quoteDeny">
                            <div>
                                <textarea class="textarea-style" [(ngModel)]="requestDetail.quote.comment" [readonly]="true"></textarea>
                            </div>

                        </ion-item>

                        <ion-item *ngIf="quoteAccept">
                            <ion-toggle color="custom" [(ngModel)]="showSchedule"></ion-toggle>
                            <ion-label>
                                Programar visita
                            </ion-label>
                        </ion-item>
                    </ion-list>

                    <ion-list no-lines *ngIf="showSchedule">
                        <ion-item>
                            <ion-label>Fecha</ion-label>
                            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="technician_date"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label>Hora</ion-label>
                            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="technician_time"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label>Nombre del técnico</ion-label>
                            <ion-input type="text" [(ngModel)]="technician_name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Nombre del cliente</ion-label>
                            <ion-input type="text" [(ngModel)]="technician_company"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Teléfono</ion-label>
                            <ion-input type="text" [(ngModel)]="technician_phone"></ion-input>
                        </ion-item>
                    </ion-list>

                    <button ion-button block class="main-btn" style="margin-top:2vw;" (click)="goToStep3()"
                            *ngIf="(authUser.level == 7 || authUser.level == 8) && quoteAccept">
                        Programar Visita
                    </button>
                </div>
            </li>
            <li class="StepProgress-item" [ngClass]="{'is-done': request.step > 3, 'current': request.step == 3}">
                <strong class="subheader-style" (click)="onShow3()">FASE 3 - Inicio & Finalización trabajo</strong>

                <div *ngIf="show3">
                    <ion-list no-lines *ngIf="(authUser.level == '3.1' || authUser.level == '3.2') && request.step == 3">
                        <!-- <ion-item>
                            <ion-icon class="icon-style" style="padding-left:0;" name="md-calendar"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY'}}</ion-note>
                            -
                            <ion-icon class="icon-style" name="ios-clock-outline"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'h:mm a'}}</ion-note>
                        </ion-item> -->
                        <ion-item>
                            <ion-label>Fecha</ion-label>
                            <ion-input type="text" [(ngModel)]="requestDetail.technician_info.date" [readonly]="true"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Hora</ion-label>
                            <ion-input type="text" [(ngModel)]="requestDetail.technician_info.time" [readonly]="true"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Nombre del técnico</ion-label>
                            <ion-input type="text" [(ngModel)]="requestDetail.technician_info.name" [readonly]="true"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Nombre del cliente</ion-label>
                            <ion-input type="text" [(ngModel)]="requestDetail.technician_info.company" [readonly]="true"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Teléfono</ion-label>
                            <ion-input type="text" [(ngModel)]="requestDetail.technician_info.phone" [readonly]="true"></ion-input>
                        </ion-item>

                        <p class="icon-style" *ngIf = "scheduleAccept" style="word-wrap: break-word;">Schedule Accepted</p>
                        <!-- <ion-item>
                            <ion-toggle [(ngModel)]="scheduleAccept"></ion-toggle>
                            <ion-label>
                                Accept Schedule
                            </ion-label>
                        </ion-item> -->
                    </ion-list>

                    <button ion-button block (click)="acceptSchedule()" class="main-btn" style="margin-top:2vw;" *ngIf="request.step == 3 && (authUser.level == '3.1' || authUser.level == '3.2') && !scheduleAccept">
                        Aceptar Horario
                    </button>

                    <ion-list no-lines *ngIf="(authUser.level == 7 || authUser.level == 8) && request.step >=3">
                        <!-- <ion-item>
                            <ion-icon class="icon-style" style="padding-left:0;" name="md-calendar"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY'}}</ion-note>
                            -
                            <ion-icon class="icon-style" name="ios-clock-outline"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'h:mm a'}}</ion-note>
                        </ion-item> -->
                        
                        <ion-item>
                            <ion-toggle color="custom" [(ngModel)]="scheduleAccept" disabled="true"></ion-toggle>
                            <ion-label>
                                Programación Aceptada
                            </ion-label>
                        </ion-item>
                        <!-- <ion-item *ngIf="scheduleAccept">
                            <ion-label>Job Complete</ion-label>
                            <ion-toggle color="custom" [(ngModel)]="is_completed"></ion-toggle>
                        </ion-item> -->
                    </ion-list>

                    <button ion-button block class="main-btn" (click)="goToStep4()"
                            *ngIf="(authUser.level == 7 || authUser.level == 8) && scheduleAccept">
                        Trabajo Finalizado
                    </button>
                </div>
            </li>
            <li class="StepProgress-item" [ngClass]="{'is-done': request.step > 4, 'current': request.step == 4}">
                <strong class="subheader-style" (click)="onShow4()">FASE 4 - Facturación</strong>

                <div *ngIf="show4">
                    <ion-list no-lines *ngIf="(authUser.level == '3.1' || authUser.level == '3.2') && request.step == 4">
                        <!-- <ion-item>
                            <ion-icon class="icon-style" style="padding-left:0;" name="md-calendar"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY'}}</ion-note>
                            -
                            <ion-icon class="icon-style" name="ios-clock-outline"></ion-icon>
                            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'h:mm a'}}</ion-note>
                        </ion-item> -->
                        <ion-item>
                            <ion-toggle color="custom" [(ngModel)]="requestDetail.is_completed" disabled="true"></ion-toggle>
                            <ion-label>
                                Trabajo finalizado
                            </ion-label>
                        </ion-item>
                    </ion-list>

                    <button ion-button block icon-left class="main-btn" *ngIf="request.step == 4 && (authUser.level == '3.1' || authUser.level == '3.2')" (click)="payInvoice()">
                        <ion-icon ios="ios-card" md="md-card"></ion-icon>
                        Pago de Factura
                    </button>

                    <ion-list no-lines *ngIf="(authUser.level == 7 || authUser.level == 8) && request.step >= 4">
                        <!-- <ion-item>
                            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                            FECHA DE SOLICITUD
                            <ion-note item-end>{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY, h:mm:ss a'}}</ion-note>
                        </ion-item>
                        <ion-item>
                            {{office.buildingName}} | {{office.floorName}} | {{office.name}}
                        </ion-item> -->
                        <ion-item>
                            <ion-icon class="icon-style" ios="ios-calendar" md="md-calendar"></ion-icon>
                            Factura
                            <ion-note class="icon-style" *ngIf="!is_paid" item-end>En Espera</ion-note>
                            <ion-note class="icon-style" *ngIf="is_paid" item-end>Pagado</ion-note>
                        </ion-item>
                    </ion-list>

                    <!-- <ion-card *ngIf="requestDetail.status3 && (authUser.level == 7 || authUser.level == 8)  && request.step == 4">
                        <img src="{{requestDetail.invoice}}"/>
                    </ion-card> -->

                    <button ion-button block class="main-btn" icon-left *ngIf="is_paid && (authUser.level == 7 || authUser.level == 8)" (click)="paidInvoice()">
                        <ion-icon ios="ios-card" md="md-card"></ion-icon>
                        Factura Pagada
                    </button>
                </div>
            </li>
            <li class="StepProgress-item" [ngClass]="{'is-done': request.step > 5, 'current': request.step == 5}">
                <strong class="subheader-style" (click)="onShow5()">FASE 5 -  Pago</strong>

                <div *ngIf="show5">
                    <!-- <ion-list no-lines *ngIf="(authUser.level == '3.1' || authUser.level == '3.2') && request.step == 5">
                        <ion-item>
                            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                            Job Paid
                            <ion-note item-end (click)="viewInvoice()">View</ion-note>
                        </ion-item>
                    </ion-list>

                    <ion-card *ngIf="(authUser.level == '3.1' || authUser.level == '3.2') && request.step == 5 && showInvoice">
                        <img src="{{requestDetail.invoice}}"/>
                    </ion-card> -->

                    <ion-list no-lines *ngIf="(authUser.level == '3.1' || authUser.level == '3.2') && request.step == 5">
                        <ion-item>
                            
                            <rating [(ngModel)]="rate" class="rating"></rating>
                        </ion-item>
                        <ion-item>
                            <div>
                                <textarea placeholder="Sus comentarios" class="textarea-style" [(ngModel)]="comment"></textarea>
                            </div>
                        </ion-item>
                    </ion-list>

                    <button ion-button block icon-left class="main-btn" style="margin-top:2vw;" *ngIf="request.step == 5 && (authUser.level == '3.1' || authUser.level == '3.2')" (click)="leaveReview()">
                        <ion-icon ios="ios-star" md="md-star"></ion-icon>
                        Por favor calificanos
                    </button>


                    <ion-list no-lines *ngIf="(authUser.level == 7 || authUser.level == 8) && request.step >= 5">
                        <ion-item *ngIf="requestDetail.status5 == 0">
                            <ion-icon class="icon-style" ios="ios-calendar" md="md-calendar"></ion-icon>
                            Finalizado
                            <ion-note class="icon-style" item-end>Evaluación Pendiente</ion-note>
                        </ion-item>
                        <ion-item *ngIf="requestDetail.status5 == 1">
                            
                            <rating [(ngModel)]="requestDetail.star" readOnly="true" class="rating"></rating>
                            <!-- <ion-note class="icon-style" item-end>{{requestDetail.star}} stars</ion-note> -->
                        </ion-item>
                        <ion-item *ngIf="requestDetail.status5 == 1">
                            <div>
                                <textarea class="textarea-style" [(ngModel)]="requestDetail.comment" [readonly]="true"></textarea>
                            </div>
                        </ion-item>
                    </ion-list>

                    <button ion-button block icon-left class="main-btn" *ngIf="requestDetail.status5 == 1 && ((authUser.level == 7 || authUser.level == 8))" (click)="archiveRequest()">
                        <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
                        Archivo del Ticket
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <ion-list no-lines style="margin-top: 20px;">
        <ion-list-header class="header-style">
            Información del Cliente
        </ion-list-header>

        <ion-avatar class="client-avatar">
            <img src="assets/imgs/ticket.jpeg">
        </ion-avatar>
        <h2 class="header-style" style="text-align: center;">{{requestKey}}</h2>
        <h2 class="header-style" style="text-align: center;">{{office.company}}</h2>
        <p style="text-align:center; font-size: 15px; color:gray;">{{office.name}}</p>
        <h2 class="header-style" style="text-align: center; opacity: 0.7;">{{office.buildingName}} - {{office.floorName}}</h2>
        <ion-item style="opacity:0.7; text-align: center;">
            <ion-icon class="icon-style" name="md-calendar"></ion-icon>
            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY'}}</ion-note>
            -
            <ion-icon class="icon-style" name="ios-clock-outline"></ion-icon>
            <ion-note class="icon-style">{{request.created_at | amLocale:'en' | amDateFormat:'h:mm a'}}</ion-note>
        </ion-item>
        <!-- <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/working-icon.png">
            </ion-avatar>
            <h2>{{office.company}}</h2>
            <p>{{office.name}}</p>
        </ion-item>
        <ion-item>
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
            FECHA DE SOLICITUD
            <ion-note item-end *ngIf="authUser.level != 4">{{request.created_at | amLocale:'en' | amDateFormat:'MMM Do YYYY, h:mm:ss a'}}</ion-note>
        </ion-item> -->
    </ion-list>

    <ion-list no-lines>
        <ion-list-header class="header-style">
            Solicitado por
        </ion-list-header>
        <!-- <ion-item class="icon-style">
            <ion-icon  ios="ios-person" md="md-person"></ion-icon>
            {{user.first_name + ' ' + user.last_name}}
        </ion-item> -->
        <h2 class="header-style" style="text-align: center;">{{user.first_name}} {{user.last_name}}</h2>
        <ion-item>
            <ion-toggle color="custom" [(ngModel)]="viewRequest"></ion-toggle>
            <ion-label class="icon-style">
                Ver Detalles De La Solicitud
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-card *ngIf="viewRequest">
        <ion-card-content>
            <p>{{request.comment}}</p>
        </ion-card-content>

        <ion-slides pager="true" *ngIf="request.photos && request.photos.length > 0">
            <ion-slide *ngFor="let item of request.photos;">
                <img src="{{item}}"/>
            </ion-slide>
        </ion-slides>
    </ion-card>
</ion-content>
