<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img class="menu-icon" src="assets/imgs/menu_icon.png" />
    </button>
    <ion-title>Indicadores de Gestión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="renter">
        <ion-list>
            <ion-item>
                <ion-label>Desde: </ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="YYYY/MMM/DD" [(ngModel)]="fromDate"></ion-datetime>
            </ion-item>
    
            <ion-item>
                <ion-label>Hasta: </ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="YYYY/MMM/DD" [(ngModel)]="toDate"></ion-datetime>
            </ion-item>
    
            <ion-item>
                <ion-label>Clientes: </ion-label>
                <ion-select (ionChange)="onChange($event)">
                    <ion-option *ngFor="let star of stars; let i = index" value="{{star.email}}">
                        {{star.email}}
                    </ion-option> 
                </ion-select>
            </ion-item>
        </ion-list>

        <button class="main-btn gobtn" ion-button block (click)="go();">Seleccionar</button>
    </div>

    

    <div class="review_list">
        <h3>Evaluaciones de desempeño</h3>
        <!-- Star 5 -->
        <ion-list>
            <ion-item (click)="itemShow($event, 0)">
                <ion-avatar item-start>
                    <img src="assets/imgs/star-5.png">
                </ion-avatar>
                <h2>5 Estrella</h2>
                <p item-end>{{five_stars.length}}</p>
            </ion-item>
            <div *ngIf="star_flags[0]" class="review_name">
                <ion-item [hidden]="five_stars.length == 0">
                    <ion-icon name="md-thumbs-up" item-start></ion-icon>
                        {{five_stars.join(', ')}}
                </ion-item>
            </div>
        </ion-list>

        <!-- Star 4 -->

        <ion-list>
            <ion-item (click)="itemShow($event, 1)">
                <ion-avatar item-start>
                    <img src="assets/imgs/star-4.png">
                </ion-avatar>
                <h2>4 Estrella</h2>
                <p item-end>{{four_stars.length}}</p>
            </ion-item>
            <div *ngIf="star_flags[1]" class="review_name">
                <ion-item [hidden]="four_stars.length == 0">
                    <ion-icon name="ios-thumbs-up" item-start></ion-icon>
                    {{four_stars.join(', ')}}
                </ion-item>
            </div>
        </ion-list>

        <!-- Star 3 -->

        <ion-list>
            <ion-item (click)="itemShow($event, 2)">
                <ion-avatar item-start>
                    <img src="assets/imgs/star-3.png">
                </ion-avatar>
                <h2>3 Estrella</h2>
                <p item-end>{{three_stars.length}}</p>
            </ion-item>
            <div *ngIf="star_flags[2]" class="review_name">
                <ion-item [hidden]="three_stars.length == 0">
                    <ion-icon name="ios-thumbs-up-outline" item-start></ion-icon>
                    {{three_stars.join(', ')}}
                </ion-item>
            </div>
        </ion-list>

        <!-- Star 2 -->

        <ion-list>
            <ion-item (click)="itemShow($event, 3)">
                <ion-avatar item-start>
                    <img src="assets/imgs/star-2.png">
                </ion-avatar>
                <h2>2 Estrella</h2>
                <p item-end>{{two_stars.length}}</p>
            </ion-item>
            <div *ngIf="star_flags[3]" class="review_name">
                <ion-item [hidden]="two_stars.length == 0">
                    <ion-icon name="ios-thumbs-down-outline" item-start></ion-icon>
                    {{two_stars.join(', ')}}
                </ion-item>
            </div>
        </ion-list>

        <!-- Star 1 -->

        <ion-list>
            <ion-item (click)="itemShow($event, 4)">
                <ion-avatar item-start>
                    <img src="assets/imgs/star-1.png">
                </ion-avatar>
                <h2>1 Estrella</h2>
                <p item-end>{{one_star.length}}</p>
            </ion-item>
            <div *ngIf="star_flags[4]" class="review_name">
                <ion-item [hidden]="one_star.length == 0">
                    <ion-icon name="md-thumbs-down" item-start></ion-icon>
                    {{one_star.join(', ')}}
                </ion-item>
            </div>
        </ion-list>

    </div>

    
    <div class="avg_list">
        <h3>Promedio tiempos de gestion</h3>
        <ion-list>
            <ion-item>
                <p class="name" item-start>Tiempo de pago</p>
                <p class="timer" item-end>{{avg_time4}}</p>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <p class="name" item-start>Tiempo de finalizacion</p>
                <p class="timer" item-end>{{avg_time3}}</p>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <p class="name" item-start>Tiempo de para inicio de trabajo</p>
                <p class="timer" item-end>{{avg_time2}}</p>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <p class="name" item-start>Tiempo de respuesta contacto inicial</p>
                <p class="timer" item-end>{{avg_time1}}</p>
            </ion-item>
        </ion-list>
    </div>

	<ion-card>
      <ion-card-header>
       	Resumen solicitudes
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
</ion-content>
